body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.902);
    font-weight: bold;
    letter-spacing: .5em;
    top: 15%;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(230, 225, 86), rgb(223, 149, 217));
    background-size: cover;
    box-sizing: border-box;
    border: 5px solid;
    border-radius: 1px solid black;
}
 .css h3{
   text-transform: lowercase;
 }