.head1{
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 2px;
}

.sliding-text{
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 60px;
}

.sliding-text h2{
    position: absolute;
    animation: slide 10s linear infinite;
    white-space: nowrap;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#intro-content, .intro-content, #services, #products{
    background-color: #FFF;
    margin: 3px 0px;
    padding: 20px;
    line-height: 1.5;
    text-align: justify;
}
  
  #newsletter {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
  }
  

  
  footer {
    background-color: #333;
    color: yellow;
    text-align: center;
    padding: 10px 0;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
  }
  
