.head1{
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 2px;
    color: yellow;
}

.sliding-text{
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 60px;
}

.sliding-text h2{
    position: absolute;
    animation: slide 10s linear infinite;
    white-space: nowrap;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

#intro-content {
    margin-top: 0%;
    /* padding: 10px; */
    line-height: 1.5;
    text-align: justify;
}
.intro-content, #services, #products{
    background-color: #ffffff;
    padding: 10px;
    line-height: 1.5;
    text-align: justify;
}
.intro-content, .service, .product{
    background-color: #FFF;
    padding: 10px;
    margin-top: 0px;
    border-radius: 5px;
}
#services, #products, #newsletter{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
#intro-content{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 65%);
}
.intro-content{
    background-image: url("./Images/touch-tech.jpg");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    
}
.service{
    background-color: #D8BFD8;    
}
.product{
    background-color: #E6E6FA;
}
.intro-content p {
    color: #FFF;
}
.intro-content a{
    color: yellow;
}
  
#newsletter {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
  }
  

  

  
