/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body{
	margin: auto 0;
	background: linear-gradient(to right,  rgb(203, 21, 179), rgb(0, 204, 255));
	background-size: cover;
    overflow: auto;
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #007BFF;
    color: #FFF;
    padding: 10px;
    text-align: center;
    width: 100%;
    max-width: auto;
	border-radius: 10px;
	border-bottom: 2px solid yellow;
	border-width: 1px;
	transition: all 1s;
}

.navbar {
    position: relative;
    background-color: #00a3c4;
    text-align: center;
    width: auto;
}

.navbar ul {
    list-style-type: none;
    padding: 10px;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #f6f1f1;
}

a:active{
    color: #0004ff;
}

.main-content {
    background-color: #FFF;
    padding: 20px;
    margin: 5px 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Using Media Query*/
@media (max-width: 768px) {
    /* Adjust styles for screens up to 768px width */
    h1 {
        font-size: 28px; /* Decrease the font size */
    }
    .main-content {
        padding: 10px; /* Reduce padding */
    }
}

@media (max-width: 480px) {
    /* Adjust styles for screens up to 480px width */
    h1 {
        font-size: 24px; /* Further decrease the font size */
    }
    .main-content {
        padding: 5px; /* Reduce padding even more */
    }
}


/* Add animation and transitions for <h1> elements */

h1 {
    font-size: 36px;
    color: #ffcc00;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

h1:hover {
    color: #FF5722; /* Change the color on hover */
    transform: scale(1.05); /* Enlarge the text on hover */
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Define a keyframe animation for <h1> elements */

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

h1.animated {
    animation: bounce 1s ease infinite; /* Apply the animation to the element */
}


h2,h3 {
    color: #007BFF;
}

p {
    color: #333;
}

/* Style the custom input */
.custom-input {
    width: 200px; /* Adjust the width as needed */
    height: 40px;
    padding: 15px;
    border: 3px solid #10a9a9;
    border-radius: 100px;
    font-size: 16px;
    outline: none;
    margin-bottom: 10px;
    text-decoration-color: #ff22da;
    transition: border-color 0.3s ease-in-out;
}

.custom-input::placeholder {
    color: #e8039c;
}

.custom-input:focus {
    border-color: #007BFF;
}

footer{
	text-align: center;
	color: yellow;
	padding: 10rem;
}