body {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(7,42,145,1) 0%, rgba(9,200,250,0.9894082633053222) 100%);
	background-size: cover;
}

.container{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, rgba(223, 102, 225, 0.801), rgba(248, 238, 122, 0.842));
    font-size: 1.3em;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto auto auto;
    border-radius: 10px;
    border: 2px solid gray;
    width: 35%;
    box-sizing: border-box;
}

fieldset{
    border: none;
    padding: 10px;
}

legend{
    font-weight: bold;
    font-size: 1.2em;
    color: #250ce3;
}

input[type="text"],
input[type="email"],
input[type="date"]{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px inset rgb(255, 242, 0);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="radio"]{
    margin: 0.5px;
}
input[type="radio"]:hover{
    cursor: pointer;
}


input[type="submit"],
input[type="reset"]{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding: 8px;
    font-size: auto;
    margin-top: 10px;
    background-color: rgba(232, 235, 236, 0.715);
    color: rgb(8, 86, 233);
    border-radius: 10px;
}

.button:hover{
    cursor: pointer;
    background-color: black;
    color: chartreuse;
}

@media (max-width:600px){
    h3 {
        font-size: 10px;
        text-align: left;
    }
    .container{
        width: 100%;
        font-size: medium;
    }
}