section{
	display: flex;
	align-items: center;
	justify-content: center;
}

.para1>p{
	color: goldenrod;
	margin: auto;
}


footer{
	text-align: center;
	color: yellow;
	padding: 10rem;
}
