body{
	margin: 10px;
	background-image: url(background_image.png);
	background-size: cover;
}

header{
	position: fixed;
	  top: 0;
  left: 0;
  width: 100%;
/*  background-color: #f1f1f1;*/
  padding: 10px;
  box-sizing: border-box;
}

section{
	display: flex;
	flex-wrap: wrap;
	padding-top: 100px;
/*	box-shadow: 2px 2px yellow;*/
}
li{
	color: #FFEB4B;
	display: inline-block;
	list-style: none;
	transition: all 2s;
}
li:hover{
	color: blue;
	cursor: pointer;
}
a{
	color: #FFEB4B;
}
.head1{
	color: yellow;
}
.main_head{
/*	position: fixed;*/
	font-family: Georgia;
	font-size: 2rem;
	color: blue;
	background-color: rgba(248, 249, 250, 1.00);
	border-radius: 10px;
	border-bottom: 2px solid yellow;
	border-width: 1px;
	transition: all 1s;
}
.main_head:hover{
	color: yellow;
	background-color: blue;
	cursor: pointer;
}

/*div + h3{
	padding: 100px;
}*/
.para1{
	font-family: "Times New Roman";
	text-align: center;
	color: #FFEB4B;
	border: 5px solid green;
	padding: 5px;
	margin: 1px;
	outline: 2px;
}
img{
	align-items: flex-start;
	transition: all 1s;
}
img:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.form1{
	transition: color 2s;
}
.form1:hover{
	color: blue;
	cursor: pointer;
}