
/*  padding: 10px;*/
/*  box-sizing: border-box;*/
}
/* .header{
	font-family: Georgia;
	font-size: 2rem;
	color: blue;
	background-color: rgba(248, 249, 250, 1.00);
	max-width: 75%;
	border-radius: 5px;
	border-bottom: 2px solid yellow;
	border-width: 1px;
	transition: all 1s;
	padding: auto 0;
} */
.header:hover{
	color: yellow;
	background-color: blue;
	cursor: pointer;
}

.navbar{
	display: flex;
	list-style: none;
	font-size: 20px;
	margin: 0;
	padding: 5px;
	height: auto;
}
@media only screen and (max-width:600px){
	.navbar{
		font-size: 0.8em;
		padding: 0px;
	}
}
li{
	color: #FFEB4B;
	display: inline-block;
	padding: 20px;
	transition: all 2s;
}
li:hover{
	color: blue;
	cursor: pointer;
}
a{
	color: #FFEB4B;
	text-decoration: none;
}
/* .push{
	margin-left: auto;
} */

img{
	align-items: flex-start;
	padding: auto;
	transition: all 1s;
}
img:hover{
	transform: scale(1.1);
	cursor: pointer;
}

.grid-container {
	display: grid;
	grid-template-columns: 200px 200px 150px;
	grid-auto-rows: auto;
	gap: 20px;
	grid-template-areas: 
	'content content'
	
	;
}

.grid-item-1{
	grid-area: content;
	align-items: center;
}

.main-container{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto auto auto;
	column-gap: 10px;
	row-gap: 7px;
	padding: auto 0px;
	align-items: center;
	grid-template-areas: 
	'header header header header'
	'navbar navbar navbar navbar'
	'main main main main'
	'main main footer footer';
}

.item-header{
	grid-area: header;
}

.item-navbar{
	grid-area: navbar;
}

.item-content{
	grid-area: main;
}
.item-footer{
	grid-area: footer;
}