body{
	margin: auto 0;
	background: linear-gradient(to right,  rgb(203, 21, 179), rgb(0, 204, 255));
	background-size: cover;
}

header{
	text-align: center;
	top: 0;
  left: 0;
/*  width: 100%;*/
/*  padding: 10px;*/
/*  box-sizing: border-box;*/
}
/* .header{
	font-family: Georgia;
	font-size: 2rem;
	color: blue;
	background-color: rgba(248, 249, 250, 1.00);
	max-width: 75%;
	border-radius: 5px;
	border-bottom: 2px solid yellow;
	border-width: 1px;
	transition: all 1s;
	padding: auto 0;
} */
.header:hover{
	color: yellow;
	background-color: blue;
	cursor: pointer;
}

.navbar{
	display: flex;
	list-style: none;
	font-size: 20px;
	margin: 0;
	padding: 5px;
}
@media only screen and (max-width:600px){
	.navbar{
		font-size: 0.8em;
		padding: 0px;
	}
}
li{
	color: #FFEB4B;
	display: inline-block;
	padding: 20px;
	transition: all 2s;
}
li:hover{
	color: blue;
	cursor: pointer;
}
a{
	color: #FFEB4B;
	text-decoration: none;
}
.push{
	margin-left: auto;
}

img{
	align-items: flex-start;
	padding: auto;
	transition: all 1s;
}
img:hover{
	transform: scale(1.1);
	cursor: pointer;
}